@model X.PagedList.IPagedList<MusicStore.ViewModels.Album.AlbumVM>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common


@{
    ViewData["Title"] = "Index";
}

<h1>Albums</h1>
<hr />
<form asp-action="Index" method="get">
    @using (Html.BeginForm("Index", "Student", FormMethod.Get))
    {
        <p>
            Search by title or artist: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index" class="btn btn-outline-secondary">Clear search</a>
        </p>
    }
</form>
Sort by:
<a asp-action="Index" asp-route-sortOrder=@ViewBag.TitleSortParm asp-route-currentFilter=@ViewBag.CurrentFilter>Title</a>
<a asp-action="Index" asp-route-sortOrder=@ViewBag.ArtistSortParm asp-route-currentFilter=@ViewBag.CurrentFilter>Artist</a>
<a asp-action="Index" asp-route-sortOrder=@ViewBag.GenreSortParm asp-route-currentFilter=@ViewBag.CurrentFilter>Genre</a>
<a asp-action="Index" asp-route-sortOrder=@ViewBag.PriceSortParm asp-route-currentFilter=@ViewBag.CurrentFilter>Price</a>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="card-img-top imageThumbnail" src=@item.AlbumArtUrl alt="Image" asp-append-version="true" />
                        <div class="card-body">
                            <p class="card-text">Title: @item.Title</p>
                            <p class="card-text">Artist: @item.Artist.Name</p>
                            <p class="card-text">Genre: @item.Genre.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <strong>@item.Price.ToString("c")</strong>
                                <form asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-albumId="@item.AlbumId" method="post">
                                    <input type="submit" value="Add to cart" class="btn btn-outline-secondary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="mt-3">
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

            @Html.PagedListPager(Model, page => Url.Action("Index",
             new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }),
             new PagedListRenderOptions
             {
                 LiElementClasses = new string[] { "page-item" },
                 PageClasses = new string[] { "page-link" }
             })
        </div>
    </div>
</div>
